#
# This source file is part of the Stanford Spezi open source project
#
# SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: Build-and-Test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package_tests:
    name: Build and Test Swift Package ${{ matrix.platform.name }} (${{ matrix.config }})
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    strategy:
      matrix:
        config: [Debug, Release]
        platform:
          # - name: iOS
          #   destination: 'platform=iOS Simulator,name=iPhone 16 Pro'
          - name: macOS
            destination: 'platform=macOS,arch=arm64'
          # - name: 'Mac Catalyst'
          #   destination: 'platform=macOS,arch=arm64,variant=Mac Catalyst'
          # - name: watchOS
          #   destination: 'platform=watchOS Simulator,name=Apple Watch Series 10 (46mm)'
          # - name: visionOS
          #   destination: 'platform=visionOS Simulator,name=Apple Vision Pro'
          # - name: tvOS
          #   destination: 'platform=tvOS Simulator,name=Apple TV 4K (3rd generation)'
      fail-fast: false
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: RuntimeAssertions-Package
      destination: ${{ matrix.platform.destination }}
      buildConfig: ${{ matrix.config }}
      resultBundle: ${{ format('RuntimeAssertions-Package-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
      artifactname: ${{ format('RuntimeAssertions-Package-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
  uploadcoveragereport:
    name: Upload Coverage Report
    needs: [package_tests]
    uses: StanfordBDHG/.github/.github/workflows/create-and-upload-coverage-report.yml@lukas/fix-xcresult-merging
    with:
      coveragereports: RuntimeAssertions-Package-*.xcresult
    secrets:
      token: ${{ secrets.CODECOV_TOKEN }}